*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
}


img{
    width: 30px;
    height: 30px;
}




.container .container-ico {
    width: 10%;
    display: flex;
    flex-direction: row;
   
    
}

.logoheader {
    width: 20%;
    height: 70px;
}

.collapse {
    width: 60%;
}

.cartwidget span {
    color: white;
}

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: coral;
}
.mainContainer h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: bold;
}